@font-face {
  font-family: "Creepster";
  src: url("./fonts//Creepster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bangers";
  src: url("./fonts/Bangers-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Arial, sans-serif;
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  touch-action: none;
  zoom: 0;
}
